name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # Her gün gece yarısı çalışır
  workflow_dispatch:     # Manuel çalıştırmak için

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate the snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: ilknrgzll
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push the changes
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
